DAILY_SAMPLE_ROOM_URL=https://hskn.daily.co/WLyAoVpedWslPuYfQuRc 
DAILY_API_KEY=6ddc701f70bdd7f91904beb1c9340acedf55382b48011117f0fdf94093ca17c7
OPENAI_API_KEY=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
ELEVENLABS_API_KEY=sk_424cfbed2ee1247d02f5cd04dd339230d59226d931e513f1
BOT_IMPLEMENTATION='openai'
